<%-include('../../shared/includes/head',{pagetitle:"product.title"})%>
<link rel="stylesheet" href="/styles/product.css"> 
<script src="/scripts/cart-management.js" defer ></script>
</head>
<body>
    <%-include("../../shared/includes/header") %>
    <main id="product-details">
        <header>
            <img src="<%= product.imgurl%>" alt="<%= product.title %>">
            <div id="product-info">
                <h1><%= product.title%></h1>
                <p>$<%= product.price%></p>
                <button class="btn" data-productid ="<%= product.id %>" data-csrf="<%=locals.csrfToken%>"> ADD TO CART </button>
            </div>
        </header>
        <p id="product-description"><%= product.description%></p>
    </main>
</body>
</html>